Support for LDAP paged queries

I'm bringing here an enhancement request regarding LDAP paged queries already filed in this two tickets:

- https://sourcesup.renater.fr/tracker/?aid=3525 (opened 2007-11-18)
- https://sourcesup.renater.fr/tracker/?aid=7369  (opened 2010-12-17, duplicate of 3525, provides a patch made by leon.hedding@om.org)

(The bug tracker at **renater.fr** seems to be restricted to users from French institutions, so I'm not able to contribute)

The rationale behind this request was already documented in those tickets (I'm adding some opinions from my own)

 - As an LDAP administrator I'd prefer to use paged searches than raising the search result limit each time we think a query might be approaching that limit.
 - In large deployments it could not be feasible to raise the limit to any arbitrary value.
 - Paged searches allow for more escalabe deployments
 - As an LDAP user I might  not have full control over the settings of the LDAP server I have to use
 - It's perfectly fair to use LDAP paged seaches. By no means it's a way to "work around legitimate limitations" of any RFC, as it was estated by someone in https://sourcesup.renater.fr/tracker/?aid=3525

- For example on OpenLDAP, by default, page size limit seems equal to "hard size limit" (size limit of total count of results enforced by server), and not to be enforced by server (cf. [Admin manual](http://www.openldap.org/doc/admin24/limits.html#Size%20limits%20and%20Paged%20Results)).
- On Active Directory, page size limit is enforced by MaxPageSize LDAP policy of server, and its value is lower than MaxResultSetSize (size limit of total count of results enforced by server) (cf.
 [Doc on technet](https://technet.microsoft.com/en-us/library/dn743658.aspx)).

I guess MaxPageSize is the challenge on Active Directory, because its default is slightly low (1000) _and_ it is enforced by server.  If several other directory servers also have the same problem, I think introducing paged search seems useful.


I was trying to find this link: https://sourcesup.renater.fr/tracker/?aid=7369  but it seems is down. Do you have the code? I need it to find a solution about pagination.
Thanks,
Berta

Hello,
Instead of modifiying LDAP server soft limit, or di paged control (my hard limit is higher), I just added sizelimit arg on Sympa/List.pm
`
    $mesg = $db->do_operation(
        'search',
        base   => "$ldap_suffix",
        filter => "$ldap_filter",
        attrs  => [@attrs],
        scope  => "$source->{'scope'}",
+      sizelimit => 10000
    );
`

An option (global or per list) would be better.


> Instead of modifiying LDAP server soft limit, or di paged control (my hard limit is higher), I just added sizelimit arg on Sympa/List.pm

That is useless when the LDAP server enforces a limit. It also does not scale well. 

So supporting paged queries is the way to go IMHO.

Replacing a standard LDAP query with a paged one is pretty straightforward. This is an excerpt of a Perl script I made to query my Active Directory infrastructure:

```perl
...

my $ldap = Net::LDAPS->new( $server, onerror => 'die' ) or die "new: $@";

my @controls = ();

# Creates 100 results pages
my $ctrl_page = Net::LDAP::Control::Paged->new( size => 100 );
push @controls, $ctrl_page;

my @ldap_args = (
	base => $base,
	filter => $filter,
	attrs => @attributes,
	callback => \&processObject,
	control => @controls
);

my $cookie;

while (1) {
	my $mesg = $ldap->search( @ldap_args );

	$mesg->code && die $mesg->error;

	if ($mesg->entries < 1) {
		print STDERR "NO RESULTS\n";
	}

	# Retrieves the page control cookie
	my($resp) = $mesg->control( LDAP_CONTROL_PAGED ) || last;
	$cookie   = $resp->cookie || last;

	# Sets the cookie for the next search
	$ctrl_page->cookie($cookie);
}
```

> > Instead of modifiying LDAP server soft limit, or di paged control (my hard limit is higher), I just added sizelimit arg on Sympa/List.pm
> 
> That is useless when the LDAP server enforces a limit. It also does not scale well.
> 
> So supporting paged queries is the way to go IMHO.

Yes you're right this is the best way. sizelimit is a quick workaround at least for openldap for queries between soft and hard limit, if no size.pr is specified, if I understand well openldap documentation.


If anyone would like to submit a pull request to make this feature request a reality, it would be appreciated.

In my opinion, it is desirable to be able to use the paged operation transparently from the `do_operation()` method of `Sympa::DatabaseDriver::LDAP`.  To achieve this, directory servers that do not support the paged operation should be considered, such as below:

``` perl
my $db = Sympa::Database->new('LDAP', ...);

if ($db->__dbh->root_dse->supported_control(
    Net::LDAP::Constant::LDAP_CONTROL_PAGED()
) {
    # Process paged search operations.
} else {
    # Process simple search operation.
}
```


Closed as fixed.

In our testing of this feature (latest version of Sympa running on RHEL9, with LDAP connecting to a Windows Active Directory server running Windows Server 2025:

We have found that attempts to sync subscribers from very large (>1,500 members) AD groups fails. 

Sympa logs are not helpful in this case, reporting that inclusion succeeded, but also reporting 0 updates.

We have tried multiple values in the new 'pagesize' setting, to no avail (between 0 and 1000).

Other LDAP syncs from AD generally work as expected.

In monitoring the AD logs, we can see the initial lookup for the group, but no follow-up looking at the individual subscribers listed to pull their mail attribute.

Thanks

Hi @bboyle262 ,
Could you please show the configuration for your Sympa (sympa.conf, robot.conf, list config and definition of the LDAP data source)?  Sensitive information should be masked.


sympa.conf

###\\\\ Service description ////###
# 
## Primary mail domain name
domain   lists.*******

## Email addresses of listmasters
## Email addresses of the listmasters (users authorized to perform global
## server commands). Some error reports may also be sent to these addresses.
## Listmasters can be defined for each virtual host, however, the default
## listmasters will have privileges to manage all virtual hosts.
listmaster *******

## Default language
## This is the default language used by Sympa. One of supported languages
## should be chosen.
lang	en-US

## Supported languages
## All supported languages for the user interface. Languages proper locale
## information not installed are ignored.
supported_lang	ca,cs,de,el,en-US,es,et,eu,fi,fr,gl,hu,it,ja,ko,nb,nl,oc,pl,pt-BR,ru,sv,tr,vi,zh-CN,zh-TW

## Title of service
## The name of your mailing list service. It will appear in the header of web
## interface and subjects of several service messages.
title	*******

## Display name of Sympa
## This parameter is used for display name in the "From:" header field for the
## messages sent by Sympa itself.
gecos	SYMPA

## Support of legacy character set
## If set to "on", enables support of legacy character set according to
## charset.conf(5) configuration file.
## In some language environments, legacy encoding (character set) can be
## preferred for e-mail messages: for example iso-2022-jp in Japanese
## language.
legacy_character_support_feature	off

###\\\\ Database related ////###

## Type of the database
## Possible types are "MySQL", "PostgreSQL", "Oracle" and "SQLite".
db_type   MySQL

## Hostname of the database server
## With PostgreSQL, you can also use the path to Unix Socket Directory, e.g.
## "/var/run/postgresql" for connection with Unix domain socket.
db_host   localhost

## Name of the database
## With SQLite, this must be the full path to database file.
## With Oracle Database, this must be SID, net service name or easy connection
## identifier (to use net service name, db_host should be set to "none" and
## HOST, PORT and SERVICE_NAME should be defined in tnsnames.ora file).
db_name   sympa

## User for the database connection
db_user   *******

## Password for the database connection
## What ever you use a password or not, you must protect the SQL server (is it
## not a public internet service ?)
db_passwd   *******

## Environment variables setting for database
## With Oracle Database, this is useful for defining ORACLE_HOME and NLS_LANG.
# db_env	NLS_LANG=American_America.AL32UTF8;ORACLE_HOME=/u01/app/oracle/product/11.2.0/server

## Database private extension to subscriber table
## Adds more fields to "subscriber_table" table. Sympa recognizes fields
## defined with this parameter. You will then be able to use them from within
## templates and scenarios:
## * for scenarios: [subscriber->field]
## * for templates: [% subscriber.field %]
## These fields will also appear in the list members review page and will be
## editable by the list owner. This parameter is a comma-separated list.
## You need to extend the database format with these fields
# db_additional_subscriber_fields	billing_delay,subscription_expiration

## Database private extension to user table
## Adds more fields to "user_table" table. Sympa recognizes fields defined
## with this parameter. You will then be able to use them from within
## templates: [% subscriber.field %]
## This parameter is a comma-separated list.
## You need to extend the database format with these fields
# db_additional_user_fields	age,address

###\\\\ System log ////###

## System log facility for Sympa
## Do not forget to configure syslog server.
syslog	LOCAL1

## Communication mode with syslog server
log_socket_type	unix

## Log verbosity
## Sets the verbosity of logs.
## 0: Only main operations are logged
## 3: Almost everything is logged.
log_level	0 

###\\\\ Receiving ////###

## Default maximum number of list members
## Default limit for the number of subscribers per list (0 means no limit).
default_max_list_members	0

## Maximum size of messages
## Incoming messages smaller than this size is allowed distribution by Sympa.
max_size	10485760

## Reject mail sent from automated services to list
## Rejects messages that seem to be from automated services, based on a few
## header fields ("Content-Identifier:", "Auto-Submitted:").
## Sympa also can be configured to reject messages based on the "From:" header
## field value (see "loop_prevention_regex").
reject_mail_from_automates_feature	on

## Priority for command messages
## Priority applied to messages sent to Sympa command address.
sympa_priority	1

## Priority for messages bound for list owners
## Priority for processing of messages bound for "LIST-request" address, i.e.
## owners of the list
request_priority	0

## Priority for non-VERP bounces
## Priority for processing of messages bound for "LIST-owner" address, i.e.
## non-delivery reports (bounces).
owner_priority	9

## Default priority for list messages
## Priority for processing of messages posted to list addresses.
default_list_priority	5

###\\\\ Sending related ////###

## Header fields to be removed from incoming messages
## Use it, for example, to ensure some privacy for your users in case that
## "anonymous_sender" mode is inappropriate.
## The removal of these header fields is applied before Sympa adds its own
## header fields ("rfc2369_header_fields" and "custom_header").
# was remove_headers ARRAY(0x39badb8)
remove_headers	X-Sympa-To,X-Family-To,Return-Receipt-To,Precedence,X-Sequence,Disposition-Notification-To,Sender

## RFC 2369 header fields
## Specify which RFC 2369 mailing list header fields to be added.
## "List-Id:" header field defined in RFC 2919 is always added. Sympa also
## adds "Archived-At:" header field defined in RFC 5064.
# was rfc2369_header_fields ARRAY(0x39bacf8)
rfc2369_header_fields	help,subscribe,unsubscribe,post,owner,archive

## Default priority for a packet
## The default priority set to a packet to be sent by the bulk.
sympa_packet_priority	5

## Fork threshold of bulk daemon
## The minimum number of packets before bulk daemon forks a new worker to
## increase sending rate.
bulk_fork_threshold	1

## Maximum number of bulk workers
bulk_max_count  9	

## Idle timeout of bulk workers
## The number of seconds a bulk worker will remain running without processing
## a message before it spontaneously exits.
bulk_lazytime	600

## Sleep time of bulk workers
## The number of seconds a bulk worker sleeps between starting a new loop if
## it didn't find a message to send.
## Keep it small if you want your server to be reactive.
bulk_sleep	1

## Interval between checks of packet numbers
## Number of seconds a master bulk daemon waits between two packets number
## checks.
## Keep it small if you expect brutal increases in the message sending load.
bulk_wait_to_fork	10

## Path to sendmail
## Absolute path to sendmail command line utility (e.g.: a binary named
## "sendmail" is distributed with Postfix).
## Sympa expects this binary to be sendmail compatible (exim, Postfix, qmail
## and so on provide it).
sendmail	/usr/sbin/sendmail

## Make Sympa use a specific sendmail config /etc/postfix-SYMPA
sendmail_args -i -C /etc/postfix-SYMPA

# sympa_transport file will be updated automatically when any lists 
# are created, closed, restored or purged.
sendmail_aliases   /var/lib/sympa/sympa_transport
aliases_program postmap
aliases_db_type   hash

## Log invocation of sendmail
## This can be overwritten by "-m" option for sympa.pl.
log_smtp	off

## Maximum number of sendmail processes
## Maximum number of simultaneous child processes spawned by Sympa. This is
## the main load control parameter.
## Proposed value is quite low, but you can rise it up to 100, 200 or even 300
## with powerful systems.
maxsmtp	40

## Maximum number of recipients per call to sendmail
## This grouping factor makes it possible for the sendmail processes to
## optimize the number of SMTP sessions for message distribution. If needed,
## you can limit the number of recipients for a particular domain. Check the
## "nrcpt_by_domain.conf" configuration file.
nrcpt	100	

## Maximum number of different mail domains per call to sendmail
avg	10

###\\\\ Privileges ////###

## Who is able to create lists
## Defines who can create lists (or request list creation) by creating new
## lists or by renaming or copying existing lists.
create_list	intranet	

## Use blacklist
## List of operations separated by comma for which blacklist filter is
## applied.  Setting this parameter to "none" will hide the blacklist feature.
use_blacklist	send,create_list

## List of required domains for list owner addresses
## Restrict list ownership to addresses in the specified domains. This can be
## used to reserve list ownership to a group of trusted users from a set of
## domains associated with an organization, while allowing moderators and
## subscribers from the Internet at large.
# owner_domain	domain1.tld domain2.tld

## Minimum number of owners for each list that must match owner_domain
## restriction
## Minimum number of owners for each list must satisfy the owner_domain
## restriction. The default of zero (0) means *all* list owners must match.
## Setting to 1 requires only one list owner to match owner_domain; all other
## owners can be from any domain. This setting can be used to ensure that
## there is always at least one known contact point for any mailing list.
owner_domain_min	0

###\\\\ Archives ////###

## Store distributed messages into archive
## If enabled, distributed messages via lists will be archived. Otherwise
## archiving is disabled.
## Note that even if setting this parameter disabled, past archives will not
## be removed and will be accessible according to access settings by each
## list.
process_archive on
archive.web_access owner 
archive.mail_access closed

## Path to MHonArc mail-to-HTML converter
## This is required for HTML mail archiving.
mhonarc	/usr/bin/mhonarc

###\\\\ Bounce management and tracking ////###

## Default bounce warn rate
## The list owner receives a warning whenever a message is distributed and the
## number (percentage) of bounces exceeds this value.
bounce_warn_rate	30

## Default bounce halt rate
## NOT USED YET. If bounce rate reaches the halt_rate, messages for the list
## will be halted, i.e. they are retained for subsequent moderation.
bounce_halt_rate	50

## Remove bouncing new subscribers
## If set to unique, the welcome message is sent using a unique return path in
## order to remove the subscriber immediately in the case of a bounce.
welcome_return_path	owner

## Remove subscribers bouncing remind message
## Same as welcome_return_path, but applied to remind messages.
remind_return_path	owner

## Task for expiration of old bounces
## This task resets bouncing information for addresses not bouncing in the
## last 10 days after the latest message distribution.
expire_bounce_task	daily

###\\\\ Automatic lists ////###

## Definition of automatic list families
## Defines the families the automatic lists are based on. It is a character
## string structured as follows:
## * each family is separated from the other by a semicolon (;)
## * inside a family definition, each field is separated from the other by a
## colon (:)
## * each field has the structure: "<field name>=<field value>"
## Basically, each time Sympa uses the automatic lists families, the values
## defined in this parameter will be available in the family object.
## * for scenarios: [family->name]
## * for templates: [% family.name %]
# automatic_list_families	name=family_one:prefix=f1:display=My automatic lists:prefix_separator=+:classes separator=-:famil
#y_owners_list=alist@domain.tld;name=family_two:prefix=f2:display=My other automatic lists:prefix_separator=+:classes separator=-:
#family_owners_list=anotherlist@domain.tld;

## Parsed files for families
## comma-separated list of files that will be parsed by Sympa when
## instantiating a family (no space allowed in file names)
#parsed_family_files	message_header,message_header.mime,message_footer,message_footer.mime,info

###\\\\ Tag based spam filtering ////###

## Header field to tag spams
## If a spam filter (like spamassassin or j-chkmail) add a header field to tag
## spams, name of this header field (example X-Spam-Status)
antispam_tag_header_name	X-Spam-Status

## Regular expression to check header field to tag spams
## Regular expression applied on this header to verify message is a spam
## (example Yes)
antispam_tag_header_spam_regexp	^\s*Yes

## Regular expression to determine spam or ham.
## Regular expression applied on this header field to verify message is NOT a
## spam (example No)
antispam_tag_header_ham_regexp	^\s*No

## Name of header field to inform
## Messages are supposed to be filtered by an spam filter that adds them one
## or more headers. This parameter is used to select a special scenario in
## order to decide the message's spam status: ham, spam or unsure. This
## parameter replaces antispam_tag_header_name,
## antispam_tag_header_spam_regexp and antispam_tag_header_ham_regexp.
spam_status	x-spam-status

###\\\\ Directories ////###

## List home
## Base directory of list configurations.
home	/var/lib/sympa/list_data

## Directory for configuration files
## Base directory of global configuration (except "sympa.conf").
etc	/etc/sympa

## Base directory of spools
## Base directory of all spools which are created at runtime. This directory
## must be writable by Sympa user.
spool	/var/spool/sympa

## Directory for message incoming spool
## This spool is used both by "queue" program and "sympa_msg.pl" daemon.
queue	/var/spool/sympa/msg

## Directory for moderation spool
queuemod	/var/spool/sympa/moderation

## Directory for digest spool
queuedigest	/var/spool/sympa/digest

## Directory for held message spool
## This parameter is named such by historical reason.
queueauth	/var/spool/sympa/auth

## Directory for archive spool
## This parameter is named such by historical reason.
queueoutgoing	/var/spool/sympa/outgoing

## Directory for held request spool
## This parameter is named such by historical reason.
queuesubscribe	/var/spool/sympa/subscribe

## Directory for topic spool
queuetopic	/var/spool/sympa/topic

## Directory for bounce incoming spool
## This spool is used both by "bouncequeue" program and "bounced.pl" daemon.
queuebounce	/var/spool/sympa/bounce

## Directory for task spool
queuetask	/var/spool/sympa/task

## Directory for automatic list creation spool
## This spool is used both by "familyqueue" program and "sympa_automatic.pl"
## daemon.
queueautomatic	/var/spool/sympa/automatic

## Directory for message outgoing spool
## This parameter is named such by historical reason.
queuebulk	/var/spool/sympa/bulk

## Directory to cache formatted messages
## Base directory path of directories where HTML view of messages are cached.
viewmail_dir	/var/spool/sympa/viewmail

## Directory for storing bounces
## The directory where bounced.pl daemon will store the last bouncing message
## for each user. A message is stored in the file: <bounce_path>/<list
## name>@<mail domain name>/<email address>, or, if tracking is enabled:
## <bounce_path>/<list name>@<mail domain name>/<email address>_<envelope ID>.
## Users can access to these messages using web interface in the bounce
## management page.
## Don't confuse with "queuebounce" parameter which defines the spool where
## incoming error reports are stored and picked by bounced.pl daemon.
bounce_path	/var/lib/sympa/bounce

## Directory for storing archives
## Where to store HTML archives. This parameter is used by the "archived.pl"
## daemon. It is a good idea to install the archive outside the web document
## hierarchy to prevent overcoming of WWSympa's access control.
arc_path	/var/lib/sympa/arc

###\\\\ Miscellaneous ////###

## Local part of Sympa email address
## Local part (the part preceding the "@" sign) of the address by which mail
## interface of Sympa accepts mail commands.
## If you change the default value, you must modify the mail aliases too.
email	sympa

## program used to update alias database
aliases_program   postmap


## Custom robot parameter
## Used to define a custom parameter for your server. Do not forget the
## semicolon between the parameter name and the parameter value.
## You will be able to access the custom parameter value in web templates by
## variable "conf.custom_robot_parameter.<param_name>"
# custom_robot_parameter	param_name ; param_value

## Use of binary cache of list configuration
## binary_file: Sympa processes will maintain a binary version of the list
## configuration, "config.bin" file on local disk. If you manage a big amount
## of lists (1000+), it should make the web interface startup faster.
## You can recreate cache by running "sympa.pl --reload_list_config".
cache_list_config	binary_file 

## Max age of logs in database
## Number of months that elapse before a log is expired
logs_expiration_period	3

## Umask
## Default mask for file creation (see umask(2)). Note that it will be
## interpreted as an octal value.
umask	027

## Secret string for generating unique keys
## This allows generated authentication keys to differ from a site to another.
## It is also used for encryption of user passwords stored in the database.
## The presence of this string is one reason why access to "sympa.conf" needs
## to be restricted to the "sympa" user.
## Note that changing this parameter will break all HTTP cookies stored in
## users' browsers, as well as all user passwords and lists X509 private keys.
## To prevent a catastrophe, Sympa refuses to start if this "cookie" parameter
## was changed.
# cookie	123456789

###\\\\ Web interface parameters ////###

## URL prefix of web interface
## This is used to construct URLs of web interface.
wwsympa_url	https://lists.*******

## Sympa SOAP interface
soap_url        https://lists.*******

# The URL location of logo that appears in upper left corner
# Add a custom logo to the /var/lib/sympa/static-content/icons directory
logo_html_definition <a href="https://lists.*******"><img src="https://lists.*******" alt="*******"/></a>


## URL for static contents

## Directory for static contents
static_content_path	/var/lib/sympa/static-content

## HTTP server have to map it with "static_content_path" directory.
static_content_url      /static-sympa 

## The directory where sympa generates default CSS
css_path         /var/lib/sympa/static-content/css/sympa-css

## NOTE: In 6.2 custom CSS is defined as a directory (robot name) under css_url directory.
## This directory needs to be different from the css_path because sympa generates 
## default css which will overright the custom css if they are the same location.
css_url          /static-sympa/css

## pictures_path defines the location of a user pic if they choose to upload one for 
### account profile.    
pictures_path /var/lib/sympa/static-content/pictures

## System log facility for WWSympa, archived.pl and bounced.pl. Default is to
## use value of "syslog" parameter.
log_facility	LOCAL1

###\\\\ Web interface parameters: Appearances ////###

## Type of main web page
## "lists" for the page of list of lists. "home" for home page.
default_home	home

## Default index organization of web archive
## thrd: Threaded index.
## mail: Chronological index.
archive_default_index	thrd

## Size of review page
## Default number of lines of the array displaying users in the review page
review_page_size  50	

## Size of viewlogs page
## Default number of lines of the array displaying the log entries in the logs
## page.
viewlogs_page_size	500

###\\\\ Web interface parameters: Miscellaneous ////###

## HTTP cookies validity domain
## If beginning with a dot ("."), the cookie is available within the specified
## Internet domain. Otherwise, for the specified host. The only reason for
## replacing the default value would be where WWSympa's authentication process
## is shared with an application running on another host.
cookie_domain	localhost

## HTTP cookies lifetime
## This is the default value when not set explicitly by users. "0" means the
## cookie may be retained during browser sessions.
cookie_expire	0

## Average interval to refresh HTTP session ID.
cookie_refresh	60

## Use HTML editor
## If set to "on", users will be able to post messages in HTML using a
## javascript WYSIWYG editor.
use_html_editor	0

## URL of HTML editor
## URL path to the javascript file making the WYSIWYG HTML editor available.
## Relative path under <static_content_url> or absolute path.
## Example is for TinyMCE 4 installed under <static_content_path>/js/tinymce/.
# html_editor_url	js/tinymce/tinymce.min.js

## HTML editor initialization
## Javascript excerpt that enables and configures the WYSIWYG HTML editor.
# html_editor_init	tinymce.init({selector:"#body",language:lang.split(/[^a-zA-Z]+/).join("_")});

## Count limit of wrong password submission
## If this limit is reached, the account is locked until the user renews their
## password. The default value is chosen in order to block bots trying to log
## in using brute force strategy. This value should never be reached by real
## users that will probably uses the renew password service before they
## performs so many tries.
max_wrong_password	19

## Password case
## "insensitive" or "sensitive".
## If set to "insensitive", WWSympa's password check will be insensitive. This
## only concerns passwords stored in the Sympa database, not the ones in LDAP.
## Should not be changed! May invalid all user password.
password_case	sensitive

## Password hashing algorithm
## "md5" or "bcrypt".
## If set to "md5", Sympa will use MD5 password hashes. If set to "bcrypt",
## bcrypt hashes will be used instead. This only concerns passwords stored in
## the Sympa database, not the ones in LDAP.
## Should not be changed! May invalid all user passwords.
password_hash	md5

## Update password hashing algorithm when users log in
## On successful login, update the encrypted user password to use the
## algorithm specified by "password_hash". This allows for a graceful
## transition to a new password hash algorithm. A value of 0 disables updating
## of existing password hashes.  New and reset passwords will use the
## "password_hash" setting in all cases.
password_hash_update	1

## Bcrypt hash cost
## When "password_hash" is set to "bcrypt", this sets the "cost" parameter of
## the bcrypt hash function. The default of 12 is expected to require
## approximately 250ms to calculate the password hash on a 3.2GHz CPU. This
## only concerns passwords stored in the Sympa database, not the ones in LDAP.
## Can be changed but any new cost setting will only apply to new passwords.
bcrypt_cost	12

## Prevent people to subscribe to a list with adresses using these domains
## This parameter is a comma-separated list.
# domains_blacklist	example.org,spammer.com

## Quiet subscriptions policy
## Global policy for quiet subscriptions: "on" means that subscriptions will
## never send a notice to the subscriber, "off" will enforce a notice sending,
## and "optional" (default) allows the use of the list policy.
quiet_subscription	optional

###\\\\ S/MIME and TLS ////###

## File containing trusted CA certificates
## This can be used alternatively and/or additionally to "capath".
# cafile	/etc/pki/tls/certs/ca-bundle.crt

## Directory containing trusted CA certificates
## CA certificates in this directory are used for client authentication.
## The certificates need to have names including hash of subject, or symbolic
## links to them with such names. The links may be created by using "c_rehash"
## script bundled in OpenSSL.
# capath	/etc/pki/tls/certs

## Password used to crypt lists private keys
## If not defined, Sympa assumes that list private keys are not encrypted.
# key_passwd	your_password

## Directory containing user certificates
ssl_cert_dir	/var/lib/sympa/X509-user-certs

###\\\\ Data sources setup ////###

## Default of SQL fetch timeout
## Default timeout while performing a fetch with include_sql_query.
default_sql_fetch_timeout	300

## Default of inclusion timeout
## Default timeout between two scheduled synchronizations of list members with
## data sources.
default_ttl	86400

###\\\\ DKIM and ARC ////###

## Enable DKIM
## If set to "on", Sympa may verify DKIM signatures of incoming messages and/
## or insert DKIM signature to outgoing messages.
dkim_feature	off

## Which service messages to be signed
## Inserts a DKIM signature to service messages in context of robot, list or
## both
dkim_add_signature_to	robot,list

## The "d=" tag as defined in rfc 4871
## The DKIM "d=" tag is the domain of the signing entity. The virtual host
## domain name is used as its default value
dkim_signer_domain	lists.*******

## Enable ARC
## If set to "on", Sympa may add ARC seals to outgoing messages.
arc_feature	off

###\\\\ Antivirus plug-in ////###

## Path to the antivirus scanner engine
## Supported antivirus: Clam AntiVirus/clamscan & clamdscan, McAfee/uvscan,
## Fsecure/fsav, Sophos, AVP and Trend Micro/VirusWall
# antivirus_path	/usr/local/bin/clamscan

## Antivirus plugin command line arguments
# antivirus_args	--no-summary --database /usr/local/share/clamav

###\\\\ Password validation ////###

## Password validation
## The password validation techniques to be used against user passwords that
## are added to mailing lists. Options come from Data::Password
## (http://search.cpan.org/~razinf/Data-Password-1.07/Password.pm#VARIABLES)
# password_validation	MINLEN=8,GROUPS=3,DICTIONARY=4,DICTIONARIES=/pentest/dictionaries

###\\\\ Authentication with LDAP ////###

## Use canonical email address for LDAP authentication
## When using LDAP authentication, if the identifier provided by the user was
## a valid email, if this parameter is set to false, then the provided email
## will be used to authenticate the user. Otherwise, use of the first email
## returned by the LDAP server will be used.
ldap_force_canonical_email	1

###\\\\ Obsoleted parameters ////###

## Default timeout between two action-triggered synchronizations of list
## members with data sources.
default_distribution_ttl	300

##
edit_list	owner

## Enable FastCGI
## Is FastCGI module for HTTP server installed? This module provides a much
## faster web interface.
use_fast_cgi	1

## Add a "Report abuse" link in the side menu of the lists (0|1)
## The link is a mailto link, you can change that by overriding web_tt2/
## report_abuse.tt2
show_report_abuse	0

## EXPERIMENTAL! Allow users to delete their account. If enabled, shows a
## "delete my account" form in user's preferences page.
## Account deletion unsubscribes the users from his/her lists and removes him/
## her from lists ownership. It is only available to users using internal
## authentication (i.e. no LDAP, no SSO...). See
## https://github.com/sympa-community/sympa/issues/300 for details
allow_account_deletion	0

list.conf

` 
subject Testing Large Subscriber Sync

visibility conceal

topics departments

send moderators_only

digest 5 20:56

reply_to_header
value list
apply respect

reject_mail_from_automates_feature off

info conceal

subscribe owner

unsubscribe closed

invite closed

review owner

member_include
source local_list

owner_include
profile normal
visibility noconceal
reception nomail
source_parameters owners
source local_list

owner_include
profile privileged
reception nomail
source_parameters privileged_owners
source local_list
visibility noconceal

editor_include
source_parameters moderators
reception nomail
source local_list

subject Testing Large Subscriber Sync

visibility conceal

topics departments

send moderators_only

digest 5 20:56

reply_to_header
value list
apply respect

reject_mail_from_automates_feature off

info conceal

subscribe owner

unsubscribe closed

invite closed

review owner

member_include
source local_list

owner_include
profile normal
visibility noconceal
reception nomail
source_parameters owners
source local_list

owner_include
profile privileged
reception nomail
source_parameters privileged_owners
source local_list
visibility noconceal

editor_include
source_parameters moderators
reception nomail
source local_list
visibility noconceal

include_ldap_2level_query
filter1 (&(cn=*******)(objectclass=group))
bind_password *******
suffix2 [attrs1]
ssl_ciphers ALL
timeout2 90
attrs2 mail
bind_dn *******
scope1 sub
deref1 find
attrs1 member
filter2 (objectclass=person)
scope2 base
deref2 find
suffix1 OU=*******,OU=*******,DC=*******,DC=*******,DC=*******
select1 all
timeout1 30
name *******
use_tls ldaps
ca_verify required
select2 first
pagesize 500
host ad.*******
ssl_version tlsv1_2

dmarc_protection
phrase name_email_via_list
mode all

clean_delay_queuemod 15

pictures_feature on

creation
date obsoleted
date_epoch 1736977364
email t*******

update
date_epoch 1747414397
email b*******

status open

serial 17

shared_doc
d_edit private
d_read private
                                                                                                                                                                                                                  `

Our robot.conf(s) contain no relevant settings for this issue

@bboyle262 ,

Run
```sh
sympa include LISTNAME@DOMAIN
sympa include --role=owner LISTNAME@DOMAIN
sympa include --role=editor LISTNAME@DOMAIN
```
and please show the logs of Sympa and LDAP server during the program was running?



```
sympa[672421]: info Sympa::Request::Handler::include::_twist() Sympa::Request <action=include;context=z_large*@****;role=editor>: Success, 0 added, 0 deleted, 12 updated

sympa[672421]: info Sympa::Request::Handler::include::_twist() Sympa::DataSource::List <context=z_large*@****;id=534d3558;role=editor;name=include_list moderators>: 0 included, 0 deleted, 12 updated, 0 kept

sympa[672421]: notice Sympa::Spindle::ProcessRequest::_twist() Processing Sympa::Request <action=include;context=z_large*@****;role=editor>

sympa[672416]: info Sympa::Request::Handler::include::_twist() Sympa::Request <action=include;context=z_large*@****;role=owner>: Success, 0 added, 0 deleted, 16 updated

sympa[672416]: info Sympa::Request::Handler::include::_twist() Sympa::DataSource::List <context=z_large*@****;id=2da3bcb5;role=owner;name=include_list privileged_owners>: 0 included, 0 deleted, 7 updated, 0 kept

sympa[672416]: info Sympa::Request::Handler::include::_twist() Sympa::DataSource::List <context=z_large*@****;id=12b75338;role=owner;name=include_list owners>: 0 included, 0 deleted, 9 updated, 0 kept

sympa[672416]: notice Sympa::Spindle::ProcessRequest::_twist() Processing Sympa::Request <action=include;context=z_large*@****;role=owner>

sympa[672407]: info Sympa::Request::Handler::include::_twist() Sympa::Request <action=include;context=z_large*@****;role=member>: Success, 0 added, 0 deleted, 0 updated

sympa[672407]: info Sympa::Request::Handler::include::_twist() Sympa::DataSource::LDAP2 <context=z_large*@****;id=536ca1d5;role=member;name=uofi>bus-lists-UndergraduateStudents>: 0 included, 0 deleted, 0 updated, 0 kept

sympa[672407]: notice Sympa::Spindle::ProcessRequest::_twist() Processing Sympa::Request <action=include;context=z_large*@****;role=member>
```
I don't have direct access to the ldap logs


After changing the list config and running same commands, the same results as above were returned.

We don't have the ldapsearch utility currently installed on the server, 