Gender-sensitive German translation

Hello,

In Germany, but also all over the world, gender-sensitive language is becoming more and more important. Software is also affected. The user interface should be designed in a gender-sensitive manner.
In the German language, this requires a special translation.
I would like to request that Sympa receive a gender-sensitive German translation.

Thanks in advance

The problem is that there is no consensus on how to use gender-sensitive language in German. 
So the translation might be become more gender-sensitive but chances are it will be less user friendly.

In fact, there are already generally accepted rules for the creation of gender-sensitive texts. 
Here for example https://www.genderleicht.de/
If the translation is based on that, it might work well after all.

No, they are not generally accepted just because that website says so. Checkout the SPIEGEL 10/2021, they ran a feature about this problem.

I agree with @racke but in some companies a gender-sensitive language is already common. Ideal would two language choices, like "german native" and "german gender".

Hi @hnankov ,

I don't know how widely the "gender-equitable" language is used among German speakers/writers [[1]](#user-content-note-1).  So I can not advise you on its use, but how to implement (realize) it on Sympa software.

  1. At any rate, you have to complete the translation. In addition, you have to update the translation every time the Sympa software is updated.
     You don't have to modify Sympa to do this. See "Using PO file" section in [Help page of "Translating Sympa" site](https://translate.sympa.org/pages/help/).  If you're not familiar with translation work using PO file, ask experienced friends or colleagues.
  2. You have to install your translations into Sympa which is already installed on your server.
     This can be done by replacing the German "translation catalog" for Sympa with the data created from your translated PO file.  If you do not know how to do, please submit a separate question using a "New issue" button above.

In this way, you will be able to use a gender-equitable language in Sympa running on your server. Incidentally, most of the software (certainly all of open source software) can be made gender-equitable by similar process.

---
Additonal note:

I think there is one more challenge to integrating gender-equitable language into the Sympa distribution. --- As @robertbln wrote, (at least for the time being) a solution would be to treat the gender-equitable language as a variant of German.  In order to handle it with computers, a new "language tag" (identifier of language) determining this variant has to be defined [[2]](#user-content-note-2). Currently we don't know the tag for this variant, so we can't include them.  And that's also why I'm not in favor of incorporating gender-equitable language into Sympa at this time.

Standardization is needed to make software commonly recognize the tag for a language or its variant [[3]](#user-content-note-3).  It's more of an advocacy issue than a technical one.  You'd be better to contact politicians or advocacy organizations on ICT [[4]](#user-content-note-4).

---
<a id="note-1"/>[1] Japanese, my native language, is "gender-insensitive", so to speak.  Since it does not have a concept of grammatical genders, I can never imagine a language that would point to male person when I'm trying to talk about a programmer. :)

<a id="note-2"/>[2] About how to choose language tag see "[Choosing a language tag](https://www.w3.org/International/questions/qa-choosing-language-tags)" by W3C.   You may define your own tag privately (a.k.a. "private-use tag"). However, since software (e.g. web browsers) do not recognize such tag by default, you will have to configure your users' software to add setting for your tag.

<a id="note-3"/>[3] Currently, AFAIK IETF and the Unicode Consortium are responsible for standardization of variant subtags.  About registration process of language tag on IETF see [section 3 of RFC 5646](https://tools.ietf.org/html/bcp47#section-3) (BCP47). Unicode Extension of BCP47 is maintained by [Unicode CLDR Project](http://cldr.unicode.org/index/bcp47-extension).

<a id="note-4"/>[4] I saw Duden has abandoned the concept of generic masculine in their [handbook](https://shop.duden.de/products/handbuch-geschlechtergerechte-sprache), while they do not recommend any of methods for achieving gender equality.  An [interview Genderleicht.de quotes](https://www.genderleicht.de/sprachkampf-interview-autor-henning-lobin/) also says The Council for German Orthography will not officially approve gender equitable language at meeting in this month.  Certification by any official body and/or academic authority is one of the conditions for registering the tag for a language or variant (Of course, lack of certification does not mean you should refrain from any kind of advocacy action).
 

No more discussion seems there.  Close.