RFC6331: Moving DIGEST-MD5 to Historic

July 2011: RFC6331: Moving DIGEST-MD5 to Historic:
- https://tools.ietf.org/html/rfc6331

There are now:
- July 2010: RFC5802: Salted Challenge Response Authentication Mechanism (SCRAM): SASL and GSS-API Mechanisms: https://tools.ietf.org/html/rfc5802 (SCRAM-SHA-1 and SCRAM-SHA-1-PLUS)
- July 2010: RFC5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted: Challenge Response Authentication Mechanism (SCRAM) Secrets: https://tools.ietf.org/html/rfc5803
- November 2015: RFC7677: SCRAM-SHA-256 and SCRAM-SHA-256-PLUS: Simple Authentication and Security Layer (SASL) Mechanisms: https://tools.ietf.org/html/rfc7677


Hi @Neustradamus,

IMHO Sympa's LDAP features support only simple (including anonymous) bind.  Could you please tell us how DIGEST-MD5 is supported by current version of Sympa?

And could you please present us how we should make changes on Sympa? (or external modules like ``Net::LDAP::Bind``, ``Authen::SASL``?)


@ikedas: Solved?

@Neustradamus: you didn't provide the information which @ikedas asked for.
